@-moz-keyframes rotate {
    0% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  @-moz-keyframes countdowntiming {
    0% {
      filter: alpha(opacity=0);
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
  @-webkit-keyframes countdowntiming {
    0% {
      filter: alpha(opacity=0);
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
  @keyframes countdowntiming {
    0% {
      filter: alpha(opacity=0);
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
  body {
    overflow-x: hidden;
  }
  ::selection {
    background: #91b2c3;
    color: #ffffff;
  }
  ::-moz-selection {
    background: #91b2c3;
    color: #ffffff;
  }
  a {
    color: #a43d21;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
  }
  a:hover {
    color: #abd373;
    text-decoration: none;
  }
  a:focus {
    color: #abd373;
    outline: none;
    text-decoration: none;
  }
  a:active {
    color: #abd373;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.35;
    margin: 0 0 5px;
  }
  big {
    font-size: 125%;
  }
  dd {
    margin-bottom: 24px;
  }
  ul,
  ol {
    padding-left: 15px;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  table {
    border-collapse: separate;
    border-color: #e5e5e5;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;
  }
  table th,
  table td {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
  }
  caption {
    padding: 10px;
  }
  ins {
    text-decoration: none;
  }
  